body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: Arial, sans-serif;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  background-color: #000;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #c9c9c8;
}

@font-face {
  font-family: TF2Secondary;
  src: url(../fonts/TF2Secondary.ttf);
}
.emph {
  font-weight: bold;
}

.no-js-hide {
  display: none;
}

.js-enabled .no-js-hide {
  display: block;
}

.container, .content {
  background: top center no-repeat #000;
  height: 1500px;
}

.content {
  width: 1200px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#container_01, #content_01 {
  background-image: url(../images/xms_bg_1.jpg);
}

#container_02, #content_02 {
  height: 990px;
  background-image: url(../images/xms_bg_2.jpg);
}

#container_03, #content_03 {
  height: 2660px;
  background-image: url(../images/xms_bg_3.jpg);
}

#container_04, #content_04 {
  height: 850px;
  background-image: url(../images/xms_bg_4.jpg);
}

#container_05, #content_05 {
  background-image: url(../images/xms_bg_5.jpg);
}

#container_06, #content_06 {
  background-image: url(../images/xms_bg_6.jpg);
}

#container_07, #content_07 {
  background-image: url(../images/xms_bg_7.jpg);
}

#container_08, #content_08 {
  height: 1271px;
  background-image: url(../images/xms_bg_8.jpg);
}

.button {
  position: absolute;
  background-position: top;
}

.button:hover {
  background-position: bottom;
}

#tf2 {
  width: 177px;
  height: 42px;
  top: 78px;
  left: 508px;
  background-image: url(../images/button_tf_logo.jpg);
}

#assets {
  width: 87px;
  height: 86px;
  top: 1042px;
  left: 824px;
  background-image: url(../images/button_bonus.jpg);
}

#workshop {
  width: 496px;
  height: 72px;
  top: 1155px;
  left: 360px;
  background-image: url(../images/button_workshop.jpg);
}

.maps {
  user-select: none;
  position: absolute;
  background-repeat: no-repeat;
  display: block;
}
.maps .frame {
  position: absolute;
  z-index: 101;
}
.maps .slides {
  position: absolute;
}
.maps .arrow {
  top: 50%;
}
.maps.halloween {
  width: 1080px;
  height: 700px;
  left: 60px;
}
.maps.halloween .frame {
  width: 1080px;
  height: 700px;
  background-image: url(../images/maps/hwn_frame.png);
}
.maps.halloween .slides {
  top: 75px;
  left: 59px;
}
.maps.halloween .image {
  width: 960px;
  height: 564px;
}
.maps.halloween .arrow.next {
  right: 6px;
}
.maps.halloween .arrow.prev {
  left: 6px;
}
.maps.xmas {
  width: 1040px;
  height: 730px;
  left: 80px;
}
.maps.xmas .frame {
  width: 1040px;
  height: 730px;
  background-image: url(../images/maps/xmas_frame.png);
}
.maps.xmas .slides {
  top: 76px;
  left: 34px;
}
.maps.xmas .image {
  width: 970px;
  height: 570px;
}
.maps.xmas .arrow.next {
  right: 10px;
}
.maps.xmas .arrow.prev {
  left: 10px;
}

#stormy {
  top: 640px;
}

#spookey {
  top: 1285px;
}

#turbine {
  top: 1921px;
}

.arrow {
  width: 35px;
  height: 40px;
  background-repeat: no-repeat;
  position: absolute;
  cursor: pointer;
  opacity: 0.3;
  z-index: 102;
  transform: translate(0, -50%);
}
.arrow:hover {
  opacity: 1;
}
.arrow.next {
  background-image: url(../images/next.png);
}
.arrow.prev {
  background-image: url(../images/previous.png);
}

.taunt {
  position: absolute;
  font-size: 14px;
}
.taunt .blurb {
  margin-bottom: 1em;
}
.taunt .taunt_vid {
  display: block;
  position: relative;
  width: 240px;
  height: 135px;
  margin-bottom: 1em;
}
.taunt .created {
  width: 240px;
  position: absolute;
}

#accordion {
  left: 709px;
  top: 383px;
}
#accordion .taunt_vid {
  background-image: url(../images/taunt_accordion.jpg);
}

#skate {
  left: 269px;
  top: 489px;
}
#skate .taunt_vid {
  background-image: url(../images/taunt_skate.jpg);
}

#pogo {
  left: 709px;
  top: 40px;
}
#pogo .taunt_vid {
  background-image: url(../images/taunt_pogo.jpg);
}

#carpet {
  left: 709px;
  top: 842px;
}
#carpet .taunt_vid {
  background-image: url(../images/taunt_carpet.jpg);
}

#shade {
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 105;
}

#zoomholder {
  position: fixed;
  background: #383757;
  width: 854px;
  height: 480px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 6px;
  border-radius: 12px;
  z-index: 106;
}

.video {
  width: 854px;
  height: 480px;
}

.paints {
  user-select: none;
  position: absolute;
  width: 402px;
  height: 431px;
}
.paints .paint {
  display: block;
  width: 367px;
  height: 431px;
  margin-left: 35px;
}
.paints .paint.no-js-hide {
  display: none;
}
.paints .paint .image {
  width: 367px;
  height: 362px;
}
.paints .paint .name {
  font-family: TF2Secondary;
  font-size: 36px;
  text-align: center;
  height: 72px;
  line-height: 72px;
  padding-right: 55px;
  padding-left: 12px;
}
.paints .paint .name.dl {
  line-height: 36px;
}
.paints .arrow.next {
  right: 10px;
}
.paints .arrow.prev {
  left: 0px;
}
.paints#hwn_paints {
  top: 421px;
  left: 160px;
}
.paints#hwn_paints .arrow {
  bottom: -2%;
}
.paints#xms_paints {
  top: 520px;
  left: 629px;
}
.paints#xms_paints .arrow {
  top: 8%;
}

#thanks {
  width: 780px;
  line-height: 22px;
  top: 1257px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

#text_credits {
  text-align: center;
  position: absolute;
  top: 289px;
  left: 354px;
  line-height: 22px;
}

#legal {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 30px;
  width: 888px;
  height: 30px;
  display: block;
  background-image: url(../images/legal.png);
}
