body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: Arial, sans-serif;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  line-height: 16px;
  font-size: 16px;
  background-color: #000;
  background: url(../xmas_guide.png) top center no-repeat #000;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #c9c9c8;
}

@font-face {
  font-family: TF2Secondary;
  src: url(../fonts/TF2Secondary.ttf);
}
.emph {
  font-weight: bold;
}

.container, .content {
  background: top center no-repeat;
  height: 1500px;
}

.content {
  width: 1200px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#container_01, #content_01 {
  background-image: url(../images/xms_bg_1.jpg);
}

#container_02, #content_02 {
  height: 990px;
  background-image: url(../images/xms_bg_2.jpg);
}

#container_03, #content_03 {
  height: 2660px;
  background-image: url(../images/xms_bg_3.jpg);
}

#container_04, #content_04 {
  height: 850px;
  background-image: url(../images/xms_bg_4.jpg);
}

#container_05, #content_05 {
  background-image: url(../images/xms_bg_5.jpg);
}

#container_06, #content_06 {
  background-image: url(../images/xms_bg_6.jpg);
}

#container_07, #content_07 {
  background-image: url(../images/xms_bg_7.jpg);
}

#container_08, #content_08 {
  height: 1271px;
  background-image: url(../images/xms_bg_8.jpg);
}

.button {
  position: absolute;
  background-position: top;
}

.button:hover {
  background-position: bottom;
}

#tf2 {
  width: 177px;
  height: 42px;
  top: 78px;
  left: 508px;
  background-image: url(../images/button_tf_logo.jpg);
}

#assets {
  width: 87px;
  height: 86px;
  top: 1042px;
  left: 824px;
  background-image: url(../images/button_bonus.jpg);
}

#workshop {
  width: 496px;
  height: 72px;
  top: 1155px;
  left: 360px;
  background-image: url(../images/button_workshop.jpg);
}

.slider {
  position: absolute;
  background-repeat: no-repeat;
}
.slider.halloween {
  width: 1080px;
  height: 700px;
  left: 60px;
}
.slider.halloween .frame {
  width: 1080px;
  height: 700px;
  background-image: url(../images/maps/hwn_frame.png);
}
.slider.xmas {
  width: 1040px;
  height: 730px;
  left: 80px;
}
.slider.xmas .frame {
  width: 1040px;
  height: 730px;
  background-image: url(../images/maps/xmas_frame.png);
}

#stormy {
  top: 640px;
}

#spookey {
  top: 1285px;
}

#turbine {
  top: 1921px;
}

.taunt {
  position: absolute;
  font-size: 14px;
}
.taunt .blurb {
  margin-bottom: 1em;
}
.taunt .video {
  display: block;
  position: relative;
  width: 240px;
  height: 135px;
  margin-bottom: 1em;
}
.taunt .created {
  width: 240px;
  position: absolute;
}

#accordion {
  left: 709px;
  top: 383px;
}
#accordion .video {
  background-image: url(../images/taunt_accordion.jpg);
}

#skate {
  left: 269px;
  top: 489px;
}
#skate .video {
  background-image: url(../images/taunt_skate.jpg);
}

#pogo {
  left: 709px;
  top: 40px;
}
#pogo .video {
  background-image: url(../images/taunt_pogo.jpg);
}

#carpet {
  left: 709px;
  top: 842px;
}
#carpet .video {
  background-image: url(../images/taunt_carpet.jpg);
}

.paints {
  position: absolute;
  width: 367px;
  height: 362px;
}
.paints .paint {
  width: 367px;
  height: 362px;
}
.paints .paint .image {
  width: 367px;
  height: 362px;
}
.paints .paint .name {
  font-family: TF2Secondary;
  position: absolute;
  font-size: 36px;
}
.paints#hwn_paints {
  top: 421px;
  left: 195px;
}
.paints#hwn_paints .name {
  margin-top: 40px;
  margin-left: 64px;
}
.paints#xms_paints {
  top: 589px;
  left: 664px;
}
.paints#xms_paints .name {
  margin-left: 48px;
  margin-top: -59px;
}

#thanks {
  width: 780px;
  line-height: 22px;
  top: 1257px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

#text_credits {
  text-align: center;
  position: relative;
  top: 289px;
  line-height: 22px;
}
